app/code/Test/GraphQl/etc/enable.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="module" type="moduleType" maxOccurs="unbounded" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="moduleType">
		<xs:sequence>
			<xs:element name="enable" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
